* {
    box-sizing: border-box;
}

html {
    cursor: url("Scope.cur"), auto;
}

img {
    width: 100%;
    object-fit: cover;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    all: unset;
    cursor: pointer;
}



header {
    position: fixed;
    width: 100%;
    z-index: 3000;
    background-color: white;
}

.top-bar {
    position: relative;
    align-items: center;
    background-color: #2A3551;
    display: flex;
    gap: 1rem;
    justify-content: center;
    height: 4vh;
}

.top-bar span {
    color: white;
    gap: 1rem;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.top-bar-style span {
    display: flex;
    align-items: center;
    color: hsl(223, 32%, 24%);
    background-color: #67FED2;
    border-radius: 0.2rem;
    font-size: 0.7rem;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 600;
    line-height: 1.2rem;
    height: 10%;
    padding: 0.1rem 0.5rem;

}

main {
    padding-top: 12vh;
}

.main-bar {
    position: relative;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    border: 1px solid hsla(0, 0%, 50%, 0.108);
}

.main-bar-logo {
    display: flex;
    align-items: center;
    padding-left: 20rem;
}

.main-bar-menu ul {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.main-bar-menu ul li a {
    align-items: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.95rem;
    color: hsl(223.1 31.71% 24.12%);
}

.main-bar-user-menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-right: 20rem;
}

.main-bar-user-menu-button {
    display: flex;
    padding: 1rem;
}

.main-bar-user-menu-button button {
    background: transparent;
}

.main-bar-user-menu-button a {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    color: hsl(223.1 31.71% 24.12%);
}


.main-bar-user-menu-button svg {
    width: 1.1rem;
    fill: hsl(223.1 31.71% 24.12%);
}

.main-bar-user-call-to-action a {
    align-items: center;
    background-color: #2A3551;
    border-radius: 0.3rem;
    color: white;
    padding: 0.5rem 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1rem;
}

.hero {
    position: relative;
    overflow: hidden;
    z-index: 1001;
    width: 100%;
    height: 79vh;

}

.hero-video-background-linear {
    background: white;
    filter: opacity(10%);
}

.hero-content-video-background {
    position: absolute;
    z-index: 1000;
    top: -10vh;
}

.hero-content-video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.hero-content {
    position: relative;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 79vh;
}

.hero-content-subtitle h4 {}

.hero-content-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content-call-to-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.hero-content-call-to-action-left {}

.hero-content-call-to-action-right button a svg {
    width: 1rem;
}

.hero-content-rating button a svg {
    width: 1rem;
}

.slider-content {}

.slider-content-title {}

.slider-content-logos {}

.services {}

.services-text {}

.services-subtitle {}

.services-title {}

.services-description {}

.services-video {}

.hero-services {}

.hero-services-call-to-action {}

.hero-services-call-to-action-subtitle {}

.hero-services-call-to-action-title {}

.hero-services-call-to-action-description {}

.hero-services-call-to-action-button {}

.hero-services-timeline {}

.hero-services-timeline-item {}

.timeline-number {}

.timeline-card {}

.timeline-card-subtitle {}

.timeline-card-title {}

.timeline-card-description {}

.timeline-card-atributtes {}

.timeline-card-nav {}

.timeline.card-nav-title {}

.timeline-card-nav-button {}

.hero-portfolio {}

.hero-portfolio-header {}

.hero-portfolio-header-subtitle {}

.hero-portfolio-header-title {}

.hero-portfolio-header-description {}

.hero-portfolio-contents {}

.hero-portfolio-content {}

.hero-portfolio-content-img {}

.hero-portfolio-content-text {}

.hero-porftolio-content-icon {}

.hero-portfolio-content-button {}

.reviews {}

.reviews-subtitle {}

.reviews-info {}

.reviews-info-title {}

.reviews-info-google-reviews {}

.reviews-info-google-reviews-column {}

.reviews-contents {}

.reviews-content {}

.reviews-content-reviewer {}

.reviews-content-reviewer-info {}

.hero-budget {}

.hero-budget-text {}

.hero-budget-text-subtitle {}

.hero-budget-text-title {}

.hero-budget-text-title-recolor {}

.hero-budget-text-info {}

.hero-budget-buttons {}

.hero-budget-button-left {}

.hero-budget-button-right {}

.hero-marketing {}

.hero-marketing-blog {}

.hero-marketing-blog-info {}

.hero-marketing-blog-info-subtitle {}

.hero-marketing-blog-info-title {}

.hero-marketing-blog-iframe {}

.hero-marketing-social-media {}

.hero-marketing-social-media-info {}

.hero-marketing-social-media-info-subtitle {}

.hero-marketing-social-media-info-title {}

.hero-marketing-social-media-iframe {}

.hero-marketing-button {}

.hero-faqs {}

.hero-faq {}

.hero-faq-subtitle {}

.hero-faq-title {}

.hero-faq-description {}

.hero-faq-button {}

.hero-faq-content {}

.footer-brand-logo {}

.footer-brand-text {}

.footer-brand-social-media {}

.footer-contact {}

.footer-contact-title {}

.footer-navigation {}

.footer-navigation-title {}

.footer-newsletter {}

.footer-newsletter-title {}

.footer-newsletter-form {}

.footer-newsletter-captcha {}

.footer-newsletter-button {}

.footer-bottom {}

.footer-bottom-left {}

.footer-bottom-right {}