body {
  overflow: hidden;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.form-container {
  display: flex;
  width: 20%;
  border: 1px solid black;
  background-color: antiquewhite;
  padding: 2rem 2rem;
  border: none;
  border-radius: 1rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30vh;
  gap: 0.2rem
}

.form-container form input {
  background-color: #daffdb;
  border: none;
  color: black;
  padding: 0.3rem;
  border-radius: 1rem;
  border: 1px solid black;
  padding-left: 0.5rem;
}

.form-container form label {
  font-size: 1.5rem;
}

.form-container form button {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 1rem;
}

.submit-button.active {
  transform: scale(105%);
  background-color: rgb(9, 255, 0);
}

.notification {
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 5rem;
  height: 15vh;
  width: 30vh;
  opacity: 0;
  transition: all 0.5s ease;
  border: 1px black solid;
}

.notification.active {
  opacity: 1;
}

.notification-header {
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 2vh;
}

.notification-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem
}

.notification-body p {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.notification-body-success {
  background-color: #00ff08;
  margin-top: 2rem;
  padding: 0rem 1rem;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-body-error {
  background-color: #ff0000;
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}