button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: none;
}



.modal-interactive {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;

}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 3rem;
    padding: 1rem;
    background-color: antiquewhite;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
    position: fixed;
    z-index: 1001;
}

.modal.active {
    opacity: 100;
    cursor: default;
}

.modal.inactive {
    opacity: 0;
}

.modal-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 10rem;
    padding: 2rem;
    background-color: antiquewhite;
    border-radius: 1rem;
    text-align: center;
    opacity: 0;
    gap: 1rem;
}


.modal-box.active {
    opacity: 100;
}

.modal-box.inactive {
    opacity: 0;
}

.modal-buttons button {
    background-color: darkgoldenrod;
    color: white;
    padding: 0.4rem;
    border-radius: 1rem;

}

.modalButtonAccept.active {
    cursor: pointer;
}

.modalButtonCancel.active {
    cursor: pointer;
}

.modalButtonAccept.inactive {
    cursor: default;
}

.modalButtonCancel.inactive {
    cursor: default;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.466);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-background.active {
    background-color: rgba(43, 61, 55, 0.233);
}

.modal-background.inactive {}